body {
    background-color: white;
}

.total {
    position: absolute;
    font-size: 86px;
    left: 10%;
    top: 20%;
}

#total {
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}

.total {
    text-align: center;
}


#info {
    position: absolute;
    font-size: 43px;
    left: 40%;
    top: 20%;
    text-align: center;
}

#status {
    position: absolute;
    font-size: 65px;
    right: 20%;
    top: 20%;
    text-align: center;
    border: 1px solid black;
    padding: 25px;
    border-radius: 15px;
}

#max {
    position: absolute;
    font-size: 45px;
    right: 20%;
    top: 40%;
    text-align: center;
}

#p-max {
    font-size: 24;
    text-align: center;
}