{% extends 'crowdeye/base.html' %}

{% block body %}
<div class="camera-div">
    {% csrf_token %}
    <a href="{% url 'index' %}" class="btn btn-primary">Home</a>
    <h1>Cameras</h1>
    <br />

        {% for camera in cameras %}
            {{ ai_core_ip|json_script:forloop.counter0 }}
            <script>
                var value = JSON.parse(document.getElementById("{{forloop.counter0}}").textContent);
                console.log(value)
                window.setInterval(async function(){
                    const res = await fetch( window.location.protocol + "//" + window.location.host + '/api/get/{{ camera.node_id }}' )

                    const el = document.getElementById('info-{{forloop.counter0}}');
                    const data = await res.json()
                    el.innerHTML = JSON.stringify(data)
                    el.innerHTML = Math.abs(data.crossed_left - data.crossed_right)
                }, 5 * 1000);
            </script>



                <div class="card">
                    <h5 class="card-header">Node id: {{ camera.node_id }} / People in Store: <span id="info-{{forloop.counter0}}">Loading...</span></h5>
                    <div class="card-body">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#img-{{camera.node_id}}" aria-expanded="false">
                            Collapse Stream
                        </button>
                        <br />
                        
                        <img class="image" id="img-{{camera.node_id}}" src="{{ ai_core_ip }}/stream/{{ camera.node_id }}/annotated" />

                        <br />

                        <a href="{{ camera.url }}" target="_blank" class="card-link">Open Raw Camera Stream</a>
                        <br />
                        <button class="btn btn-secondary" onclick="startTrackingCoords({{forloop.counter0}}, {{camera.node_id}})">Move Line</button>
                        <button class="btn btn-secondary" onclick='fetch(window.location.protocol + "\/\/" + window.location.host + "/api/del/{{ camera.node_id }}")'>Reset Total</button>     
                        <form action="{% url 'camera-delete' camera.pk %}" method="post">
                            {% csrf_token %}
                            <br />
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                        <br />
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ camera.node_id }}"  name="node_id" />
                            <p>Entry is:</p>
                            <label for="rtl">Right to left</label>
                            <input type="radio" id="rtl" name="dir" value="rtl" />
                            <br />
                            <label for="ltr">Left to right</label>
                            <input type="radio" id="ltr" name="dir" value="ltr" />
                            <br />
                            <input type="submit" value="Save" class="btn btn-primary">
                        </form>
        
           
                    </div>
                </div>
        
                
                <br />



        {% empty %}
            None, add one
        {% endfor %}

    <script>
        var total_clicks = 0;
        var pos = [];
        var node_id;

        function startTrackingCoords(num, node) {
            node_id = node
            total_clicks = 0;
            pos = [];
            console.log("Start", num);
            alert("Click on the first and second point on the image")
            const res = document.getElementsByClassName('image');
            res[num].addEventListener('click', printPosition);
        }

        function getPosition(e) {
            var rect = e.target.getBoundingClientRect();
            var x = e.clientX - rect.left;
            var y = e.clientY - rect.top;
            return {
              x,
              y
            }
        }
          
        function printPosition(e) {
            total_clicks = total_clicks + 1;
            var position = getPosition(e);
            pos.push([position.x,  position.y])
            if (total_clicks >= 2) 
            {
                console.log("Done", pos)
                const res = document.getElementsByClassName('image');
                for (var i = 0; i < res.length; i++)
                {
                    res[i].removeEventListener('click', printPosition)
                }
                pos.push(node_id)
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const request = new Request(
                    window.location.protocol + "//" + window.location.host + '/api/cl/',
                    {
                        method: "POST",
                        headers: {'X-CSRFToken': csrftoken},
                        body: JSON.stringify(pos)
                    }
                );
                fetch(request, {
                    mode: 'same-origin'  // Do not send CSRF token to another domain.
                }).then(function(response) {
                    // ...
                });


            }
        }
          
    </script>
    
    
    <br />
    Add a camera:
    <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Camera URL" name="url" id="url-field" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    
</div>
{% endblock %}